@using SharpBoard.App.Models
@{
    Board currentBoard = (Board) Model;
}
<div class="row">
    <div class="boardheader large-16 columns">
        Welcome to /@currentBoard.Shorthand/ - @currentBoard.Name
    </div>
</div>

<div class="row">
    <div class="large-15 columns">
        @if (currentBoard.Posts.Count == 0)
        {
            <h2>
                Error: No posts found in board.
            </h2>
        }
        @foreach (Post p in currentBoard.Posts)
        {
            <h1>@p.Name</h1>
            <h4>@p.Time.ToShortDateString()</h4>
            @p.Content
            <br/>
            <br/>
        }
    </div>
</div>
