body
{
    font-size: 0.8em;
    padding: 10px 50px 50px 50px;
}

.boardlist
{
    text-align: right;
    margin-top: 25px;
}

.boardlist span:not(.divider)
{
    font-size: 1em;
    background-color: #2ba6cb;
    padding: 4px 6px 4px 6px;
    border-radius: 6px;
    color: white;
}

.boardlist span:not(.divider):hover
{
    color: rgb(18, 99, 162);
}

.boardlist span.divider
{
    font-size: 1.6em;
    line-height: 0.6;
    position: relative;
    top: 3px;
}

.boardheader
{
    font-size: 2em;
    text-align: center;
    margin: 10px 0 25px 0;
}

.post
{
    font-size: 1.25em;
    background-color: rgba(0, 0, 0, 0.08);
    padding: 14px 6px 6px 14px;
}

.post .titleline
{
    font-size: 0.75em;
}

.post .titleline > time
{
    color: gray;
    padding-right: 6px;
}

.post .titleline .postid
{
    color: gray;
}

.post .titleline .name
{
    font-weight: bold;
    font-size: 1.3em;
    padding-right: 14px;
}

.post .content
{
    padding: 10px 20px 10px 35px;
}

.postdivider
{
    margin: 5px 2px 5px 2px;
}

.newpostform
{
    width: 33%;
    margin: 0 auto;
}

.newpostform textarea
{
    height: 220px;
}

#submitbutton
{
    width: 100%;
}