@using SharpBoard.App.Models
@{
    Board currentBoard = (Board)Model.CurrentBoard;
}

<div class="row">
    <div class="boardheader">
        Make a new post on /@currentBoard.Shorthand/
    </div>
</div>

<div class="row">
    @Html.Partial("Shared/Partials/NewPostForm.cshtml", currentBoard)
</div>