@using SharpBoard.App.Models
@{
    Board currentBoard = (Board)Model.CurrentBoard;
}

<div class="row">
    <div class="boardheader">
        Make a new post in /@currentBoard.Shorthand/
    </div>
</div>

<div class="row">
    
</div>