<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net453" />
  <package id="Nancy" version="0.23.2" targetFramework="net453" />
  <package id="Nancy.Hosting.Self" version="0.23.2" targetFramework="net453" />
  <package id="Nancy.Validation.DataAnnotations" version="0.23.2" targetFramework="net453" />
  <package id="Nancy.Viewengines.Razor" version="0.23.2" targetFramework="net453" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="net453" />
  <package id="Npgsql" version="2.2.3" targetFramework="net453" />
  <package id="PetaPoco" version="5.0.1" targetFramework="net453" />
</packages>