@using System.Collections.Generic
@using System.Linq
@using SharpBoard.App.Models
@{
    var currentBoards = ((IEnumerable<Board>)Model).ToList();
}
        <div class="boardlist">
            <span class="divider">[</span>
        @foreach (var b in currentBoards)
        {
            <a href="/@b.Shorthand">
                <span>@b.Shorthand</span>
            </a>

            if (b == currentBoards.Last())
            {
                continue;
            }
            
            <span class="divider">/</span>
        }
            <span class="divider">]</span>
        </div>
