<div class="newpostform">
    <form method="POST">

        <label for="Name">Name</label>
        <input type="text" name="Name" value="Anonymous"/>

        <label for="Content">Post Content</label>
        <textarea name="Content" placeholder="Enter your text here."></textarea>

        <input type="submit" class="button round" value="Submit!" id="submitbutton"></input>
    </form>
</div>