<!DOCTYPE html>
 
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="/Content/Stylesheets/normalize.css"/>
        <link rel="stylesheet" type="text/css" href="/Content/Stylesheets/foundation.min.css" />
        <title></title>
    </head>

    <body>
        <div class="row">
            <div class="large-16 columns">
                <h1>SharpBoard</h1>

            </div>
        </div>
        
    </body>
</html>