@using SharpBoard.App.Config
@using SharpBoard.App.Models
<h2>Board List</h2>
<ul>
    @foreach (Board b in BoardConfig.Boards)
    {
        <a href="/@b.Shorthand/">
            <li>/@b.Shorthand/ - @b.Name</li>
        </a>
    }
</ul>